.company-info {
    line-height: 1.6;
    margin-left: 0;
    margin-right: auto;
    max-width: 800px;
    padding-top: 1rem;
    border-radius: 1rem;
    padding-bottom: 1rem;

}

.company-info h2 {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #1d1d1b;

}

.company-info table {
    width: 100%;
    border-collapse: collapse;
}

.company-info th,
.company-info td {
    padding:   .5rem;
    text-align: left;
    vertical-align: top;
}

.company-info th {
    background-color: #198aa5;
    font-weight: bold;
    width: 25%;
    border: .1rem solid #ffffff;
    font-size: 1rem;
    color: white;
}

.company-info td {
    border: .1rem solid #ffffff;
    background-color: #dddddd;
    color: #1d1d1b;
}
