@charset "UTF-8";


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-weight: bold;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

audio, canvas, video { display: inline-block; vertical-align: bottom; }

  html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #fcfcfc;}

ul, ol { list-style: none; }

del { text-decoration: line-through; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

img { -ms-interpolation-mode: bicubic; }

/* Base font size for large screens */
html {
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
}

@media (max-width: 1024px) {
  html {
      font-size: 14px; /* Smaller base font size for medium screens */
  }
}

@media (max-width: 768px) {
  html {
      font-size: 10px; /* Even smaller base font size for small screens */
  }
}


@media (max-width: 576px) {
  html {
      font-size: 14px; /* Even smaller base font size for small screens */
  }
}

body{
  background-color: #fcfcfc;
  width: 100%;
}

p{ 
    line-height: 2;
    font-weight: normal;
	  text-align: left;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
}


.p_alt{
  color: #f6f6f6;
}

.m-plus-1p-thin {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .m-plus-1p-light {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .m-plus-1p-regular {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .m-plus-1p-medium {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .m-plus-1p-bold {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .m-plus-1p-extrabold {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .m-plus-1p-black {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  

  h1{
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #191919;
    font-size: 4.5rem;
    line-height: 1.25;
  }


  h2{
    color: #f6f6f6;
    font-size: 3rem;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

.h2-padding{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

  h3{
    font-size: 2rem;
    line-height: 2;
    font-family: "M PLUS 1p", sans-serif;
    text-align: center;

  }


  .btn-global{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    border-width: 0.1875rem;
    font-weight: bold;
    border-style: solid;
  }


  .text-black{
    color: #191919;
  }

  .text-white{
    color: #f6f6f6;
  }

  .text-center{
    text-align: center;
  }

  .word-highlight-blue{
    background: rgb(0,173,207);
    background: linear-gradient(180deg, rgba(0,173,207,0) 50%, rgba(0,173,207,1) 50%);
  }

  .period-detail{
    color: #00adcf;

  }

  .text-highlight{
    color: #00adcf;
    font-weight: bold;
  }




.mask-lower{
  width: 100%;
  aspect-ratio: 655 / 18;
  mask-composite: subtract;

}

.curved-mask{
  width: 100%;
  mask-image: 
    url("/images/mask-upper.svg"), 
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), 
    url("/images/mask-lower.svg"); 
  mask-size: 
    100% auto,
    100% 70%,
    100% auto; 
  mask-position: 
    top, 
    center, 
    bottom; 
  mask-repeat: no-repeat;
  z-index: 2;
  position: relative;
  padding-bottom: 4rem;
  margin-bottom: -5rem;
  padding-top: 4rem;
  margin-top: -5rem;
}


.body-header-h2{
  text-align: left;
  font-weight: 700;
  font-size: 4rem;
  text-align: left;
  line-height: 1;
}

.body-header-h3{
  text-align: left;
  font-weight: 700;
  font-size: 2.5em;
  text-align: left;
  line-height: 1;
}




  @media (min-width: 0px) and (max-width: 575.98px) {
.container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}



  .btn-global{
    padding: .75rem;
  
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    border-width: 0.1875rem;
    font-weight: bold;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }




  .curved-mask{
    width: 100%;
    mask-image: 
      url("/images/mask-upper.svg"), 
      linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), 
      url("/images/mask-lower.svg"); 
    mask-size: 
      100% auto,
      100% 95%,
      100% auto; 
    mask-position: 
      top, 
      center, 
      bottom; 
    mask-repeat: no-repeat;
    z-index: 2;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: -2rem;
    padding-top: 1rem;
    margin-top: -3rem;
  }


.body-header-h2{
  text-align: left;
  font-weight: 700;
  font-size: 3rem;
  text-align: left;
  line-height: 1;
}

.body-header-h3{
  text-align: left;
  font-weight: 700;
  font-size: 2em;
  text-align: left;
  line-height: 1.2;
}

  
  
}



  /* ----------NAVBAR----------------- */
.navbar{
  background-color: rgba(0, 173, 207, 0.6);
  backdrop-filter: blur(10px);

}

  .navbar-custom {
    width: 90%;
    margin: 0 auto;
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
    box-shadow: none;
}


.navbar {
    width: 100% !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.nav-inner {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.navlogo {
    height: 3rem;
    margin-left: 0rem !important;
    padding-left: 0rem !important;
}

.navbar-nav .nav-link .dropdown-item {
    font-size: 1rem;
    color: #191919;
    margin-left: 1rem;
    margin-right: 1rem;
}
.navbar-nav .nav-link:first-child {
    margin-left: 1rem;
}


.navlink-contact {
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0);
    color: white !important;
    font-size: 1.25rem;
    border-style: solid;
    border-width: 0.3rem;
    border-color: white;
    border-radius: 0.5rem ;
    position: relative;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}



.navlink-contact:hover {
    color: #00adcfa1 !important;
    background-color: #fff;
    border-color: #fff;
}

  


@media (min-width: 0px) and (max-width: 575.98px) {


  
  .nav-contact{
    fill: #fff;
    stroke-width: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 1.75rem;


  }

  .nav-contact:hover,    .nav-contact:active{
    fill: #00adcfa1 !important;
  
  }
  
.navlogo {
  height: 2rem;
  margin-left: 0rem !important;
  padding-left: 0rem !important;
}


.navlink-contact {
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0);
  color: white !important;
  font-size: 2rem;
  border-style: solid;
  border-width: .2rem;
  border-color: white;
  border-radius: 3rem ;
  width: 3rem;
  height: 3rem;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

}

  /* ----------HERO----------------- */



.header-decoration-col{
  
  width: 100px;
  position: relative;
}

.header-decoration-orange, .header-decoration-blue, .header-decoration-white{
  width: 6px;
  border-radius: 3px;
  padding: 0 !important;
  margin-left: 10px;

}

.header-decoration-orange{
  background-color: #ea8124;
}


.header-decoration-blue{
  background-color: #00adcf;
}

.header-decoration-white{
  background-color: #ffffff;
}


.header-text-col{
  width: 90%;
}



  .home-hero-outer{
    width: 100%;
    height: auto;
    background-color: #DDDED9;
    background-image: url(/images/holding-hero-bg.webp);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    aspect-ratio: 1919 / 920;
    
  }

  .home-hero-inner {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    height: 100%;
  }

  .home-hero-badge{
    position: absolute !important;
    bottom: 5%;
    right: 0;
    width: 30%;
    height: auto;
  }

.home-contents-inner{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative !important;

}

@media (min-width: 0px) and (max-width: 575.98px) {
.home-hero-outer{ 
  aspect-ratio: 578 / 389;
  background-size: cov;
  background-image: url(/images/holding-hero-bg-mobile.webp);
}


.home-hero-badge{
  position: absolute !important;
  bottom: 5%;
  right: 0;
  width: 45%;
  height: auto;
}


}


    /* ----------HERO - BOTTOM----------------- */

  .home-hero-sub-outer{
    background: rgb(252,180,75);
    background: linear-gradient(270deg, rgba(252,180,75,1) 0%, rgba(234,129,36,1) 100%);
  }

  .home-hero-sub-inner{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;

  }

  .hero-sub-h2{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: "M PLUS 1p", sans-serif;
  }

 
  .hero-sub-h2-big{
    color: white;
    font-size: 6rem;
    text-align: center;
  }

  .hero-sub-h2-alt{
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .hero-cta-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#ffffff00;
    color:#fff;
    border-color:#fff;
    font-size: 2rem;
    border-width: 0.25rem;
    width: fit-content;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  
  .hero-cta-btn:hover{
    background-color:#fff;
    color:#ea8124;
  }

  .cta-btn-alt:hover{
    color: #00adcf;
  }



.cta-btn-container{
  padding-bottom: 1rem;
}


@media (min-width: 0px) and (max-width: 575.98px) {
  .hero-sub-h2{
    color: white;
    font-size: 1.1rem;
    text-align: center;
    font-family: "M PLUS 1p", sans-serif;

  }

  .hero-sub-h2-big{
    color: white;
    font-size: 2.75rem;
    text-align: center;

  }

  .cta-btn-container{
    padding-bottom: 1rem;
  }

  .home-hero-sub-inner{
   padding-top: 1rem;
   padding-bottom: 0rem;

  }
  

  .hero-cta-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#ffffff00;
    color:#fff;
    border-color:#fff;
    font-size: 1.25rem;
    border-width: 0.25rem;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
  
/* ----------SECTION 1----------------- */

.section-1-wrapper{
  padding-top: 2rem;
  padding-bottom: 5rem;
}
 


/* ----------SECTION 2----------------- */




.section-2-bg {
  background: 
    url('/images/section-2-bg.svg') no-repeat right fixed, /* SVG image layer */
    linear-gradient(135deg, rgba(252,180,75,1) 0%, rgba(234,129,36,1) 100%); /* Gradient layer */
  background-size: 60%, cover; /* 60% for the SVG, cover for the gradient */
}



.section-2-inner{

  padding-top: 3rem;
  padding-bottom: 2rem;
  height: fit-content;
  position: relative;

  
}

.section-2-header-1{
  color: white;
  margin-bottom: -2rem;
}


.section-2-header-2{
  color: white;

}

.section-2-row-container{
  height: 100%;
  
}

.section-2-row{
  border-style: solid;
  border-color:#fff;
  border-width: 0.25rem;
  display: block;
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  display: block;
  margin-left: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;

}

.section-2-row-explainer-1{
  color: #ffdfbc;
  text-align: left;
  line-height: 1.2;
  font-size: 1.5rem;
}

.section-2-row-explainer-2{
  color: #ffdfbc;
  text-align: left;
  line-height: 1;
  font-size: 1.2rem;
  text-align: right;
}


.section-2-row-headline{
  font-size: 2.75rem;
  color: white;
  font-weight: bold;
  text-align: right;
  line-height: 1;
}

.section-2-row-1{
  width: 100%;
 
}

.section-2-row-2{
  width: 85%;
}

.section-2-row-3{
  width: 75%;
  
}

.section-2-prompt{
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


@media (min-width: 0px) and (max-width: 575.98px) {
  .section-2-bg {
    background: 
    url('/images/section-2-bg.svg') no-repeat right fixed, /* SVG image layer */
    linear-gradient(135deg, rgba(252,180,75,1) 0%, rgba(234,129,36,1) 100%); /* Gradient layer */
  background-size: 0%, cover; /* 60% for the SVG, cover for the gradient */
  }
  
  .section-2-row-1{
    width: 100%;
   
  }
  
  .section-2-row-2{
    width: 90%;
  }
  
  .section-2-row-3{
    width: 80%;
    
  }

  .section-2-header-1{
    margin-bottom: 0rem;
    padding-bottom: 1rem;
  }


  .section-2-header-2{
    padding-top: 2rem;
  
  }

  .section-2-row{
    border-style: solid;
    border-color:#fff;
    border-width: 0.25rem;
    display: block;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    display: block;
    margin-left: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
  
  }
  
  .section-2-row-explainer-1{
    line-height: 1.2;
    font-size: 1rem;
  }
  
  .section-2-row-explainer-2{
  
    line-height: 1;
    font-size: 1rem;

  }

  .section-2-row-headline{
    font-size: 2rem;
  }
  

  .section-2-prompt{
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  

}

  /* ----------SECTION 3----------------- */

  .section-3-wrapper{
    background-image: url(/images/section-3-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  
  .section-3-box{
    position: relative;
  }
  

  .section-3-faq-list{
    font-size: 1.75rem;
    font-weight: bold;
  }
  
  
  .section-3-emphasis-box{
    background-color: #00adcf;
    padding: 2rem;
    font-weight: bold;
    line-height: 1;
    border-radius: 1rem;
    font-size: 1.75rem;
    color: white;
    width: fit-content;
  }
  
  .section-3-extra-box{
  display: block;
  }
  
  .section-3-extra-header{
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    color:  #00adcf;
    font-weight: bold;
  }
  
  
  .section-3-extra{
    color:  #00adcf;
    font-weight: bold;
  }
  
  .section-3-reassurance-img{
  position: absolute;
  left: 50%;
  transform: translate(0%, -100%);
  width: 80%;
  top: calc(100% + 4rem);
  max-width: 100rem;
  overflow-x: hidden;
  }

  @media (min-width: 0px) and (max-width: 575.98px) {

    .section-3-wrapper{
      background-image: url(/images/section-3-mobile-bg.webp);

    }
    



    .section-3-faq-list{
      font-size: 1.4rem;
    }

    .section-3-emphasis-box{
 
      font-size: 1.45rem;

    }

    .section-3-lower{
      background-color:  #00adcf;
    }
  }
  
  
  /* ----------SECTION 4----------------- */


  .section-4-container{
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
.section-4-mainrow{
  grid-auto-rows: 1fr;
  height: 100%;
}

.section-4-textcol{
  height: 100%;
}

  .section-4-img{
border-radius: 1rem;
margin-top: 1.5rem;
  }

  .section-4-tiles-col{
    margin: 0rem  !important;
    padding: 0rem !important;
  }

  .section-4-tiles{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    width: 100%;
    border-radius: 1rem;
  }

  .header-decoration-row{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
/* ----------SECTION 5----------------- */

.section-5-top {
  background-color: #00adcf;
  width: 100.5%;
  aspect-ratio: 640 / 31;
  -webkit-mask-image: url(/images/global-images/footer-mask.svg);
  mask-image: url(/images/global-images/footer-mask.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  margin-top: -3rem;
  z-index: -10;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  margin-left: -0.5%;
}

.section-5-wrapper{
  background-color: #00adcf;
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow-x: hidden;
}

.section-5-column{
  position: relative;
}

.section-5-header{
  font-weight: bold;
}

.section-5-text{
  position: relative;
  text-align: center;
  font-size: 1.1rem;
  z-index: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section-5-text-white{
color: white;
}

.section-5-text-blue{
  color:  #00adcf;
  }
  

.section-5-arrow{
  position: absolute;
  width: 115%;
  transform: translate(-10%, 0%);
  z-index: 0px;
}

.section-5-image{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: 1rem;
  width: 75%;
  border-style: solid;
  border-width: .5rem;
  border-color:  #00adcf;
  border-radius: 1rem;
}

.h5-header{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-5-row{
  padding-bottom: 2rem;
}

@media (max-width: 576px) {

  .section-5-arrow{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, 0%);
    transform: rotate(90deg);
  }

  .section-5-image{
    width: 70%;
    z-index: 50;
  }

  .section-5-column{
    width: 100%;
    padding-bottom: 2rem;
    margin-top: -8rem
  }

  .section-5-text{
    position: relative;
    margin-top: 10rem;
  }

  .section-5-row{
    padding-bottom: 0rem;
  }
}


/* ----------FOOTER----------------- */



.footer-wrapper {
  margin-top: -1px;
  background-color: #ffffff;
  overflow-x: hidden;
}

.footer-container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.footer-strapline {
  margin-top: 4rem;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 600;
  text-align: left;
  line-height: 1;
  color: #000;
  text-align: center;
}

.footer-btn {
  margin-top: 4rem;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  font-size: 1.5rem;
}

.footer-btn:hover {
  background-color: #fff;
  color: #000;
}

.footer-lower {
  margin-top: 4rem;
  border-top: 2px solid rgb(0, 0, 0);

}

.footer-logo {
  width: 20rem;
  padding: 2rem 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-copyright {
  color: rgb(0, 0, 0);
  line-height: 1;
  padding-bottom: 4rem;
  text-align: center;
}



.footer-sns-wrapper {
  display: flex;
  gap: .66rem; /* Adjust the spacing between icons as needed */
  justify-content: flex-end; /* Center the icons horizontally within the parent */
  align-items: center; /* Center the icons vertically within the parent */
}

.footer-sns {
  width: 4rem;
  height: 4rem;
  padding-left: .5rem;
  padding-right: .5rem;
}


.footer-sns:hover{
border-radius: .25rem;
  background-color: #00adcf;
  transition: 0.3s;
}

@media (min-width: 0px) and (max-width: 575.98px) {


  .footer-strapline {
    font-size:  2rem;
    text-align: center;

  }
  
.footer-copyright{
  font-size: 2.5vw;
  margin-top: 0rem;
  padding-bottom: 0rem;
}

.footer-btn {
padding-left: 2rem;
padding-right: 2rem;
width: 90%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2rem;
margin-bottom: 0rem;
}

.footer-lower{
  margin-bottom: 2rem
  ;
}

.footer-sns-wrapper {
  width: 100%;
  display: flex;
  gap: .2rem; /* Adjust the spacing between icons as needed */
  justify-content: flex-end; /* Center the icons horizontally within the parent */
  align-items: center; /* Center the icons vertically within the parent */
  padding-top: 0rem !important;
  margin-top: -0.1rem !important
  ;
}

.footer-logo {
  width: 100%;
  padding: 0rem;

}


.footer-sns {
  aspect-ratio: 1 / 1;
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 0rem;
}
}




